.wrapMovies {
    padding: 30px 50px;
    .part2 {
        border-left: 2px solid #222836 !important;
    }
    .titleMovies {
        text-transform: uppercase;
        color: #fff;
        font-size: 3.2rem;
        font-weight: 700;
        text-align: center;
        margin-top: 40px;
        z-index: 2;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 42%;
            height: 3px;
            background-color: #242a38;
            position: absolute;
            top: 50%;
            left: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 42%;
            height: 3px;
            background-color: #242a38;
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
    .banner {
        border-top: none;
        margin-top: 0;
        padding-top: 15px;
    }
    .outstandingFilms,
    .movieTheatersFilms {
        margin-top: 45px;
        position: relative;
        border-bottom: 1px solid #242a38;
        h3 {
            border-left: 3px solid #991b1b;
            padding-left: 8px;
            font-size: 2rem;
            color: #fff;
            margin-bottom: 25px;
            font-weight: 600;
            text-transform: capitalize;
        }
    }
    .listPagination {
        li {
            display: flex;
            align-items: center;
            margin: 12px 6px;
            background-color: #374151;
            color: #fff;
            font-weight: 600;
            border-radius: 4px;
            cursor: pointer;

            &.active a {
                background-color: #000000;
                color: #d98a5e !important;
                border-radius: 4px;
                cursor: default;
            }
            .iconDirec {
                // padding: 5px 15px;
                display: block;
            }
            a {
                display: flex;
                width: 100%;
                padding: 5px 15px;
                color: #fff;
                height: 100%;
                align-items: center;
            }
        }
    }
}
