.sidebar {
    padding: 0 0px 0 30px;
    .titleSidebar {
        font-size: 1.7rem;
    }
    .listYears {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .listItemYear {
            width: 94px;
            font-size: 1.3rem;
            background-color: #0c111b;
            margin-right: 8px;
            margin-bottom: 5px;
            font-weight: 500;
            text-align: center;

            a {
                display: block;
                width: 100%;
                padding: 5px;
                transition: all linear 0.1s;
                &:hover {
                    background-color: var(--hover-color);
                    color: #fff;
                }
            }
        }
    }
    .recommendFilms {
        margin-top: 40px;
        .titleSidebar {
            margin-bottom: 18px;
        }
        .listRecommend {
            .itemRecommend {
                padding-right: 11px;
                margin-bottom: 10px;
                .wrapItemRecommend {
                    background-color: #1f2937;
                    padding-bottom: 1px;
                    transition: all linear 0.1s;
                    &:hover {
                        filter: opacity(0.6);
                    }
                }
                .wrapTitle {
                    margin-left: 10px;
                    .titleRecommendVi {
                        font-size: 1.3rem;
                        font-weight: 600;
                        color: rgba(255, 255, 255, 0.8);
                        margin-top: 8px;
                        display: inline-block;
                    }
                    .titleRecommendEn {
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin-top: 3px;
                    }
                    .ratingRecommend {
                        border: 1px solid #3f4753;
                        display: inline-flex;
                        align-items: center;
                        height: 22px;
                        padding: 0 10px;
                        border-radius: 3px;
                        margin-top: 20px;
                        .iconStar {
                            font-size: 1.3rem;
                            color: #ffc526;
                        }
                        .pointRecommend {
                            font-size: 1.3rem;
                            margin-left: 5px;
                            font-weight: 600;
                        }
                    }
                    .yearRecommend {
                        font-size: 1.3rem;
                        color: #4c545f;
                        font-weight: 700;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}
