.wrapFooter {
    background-color: #1f2937;
    padding: 40px 40px;
    .desFooter {
        font-size: 1.3rem;
        margin-top: 25px;
        width: 320px;
        color: rgba(255, 255, 255, 0.5);
        a {
            color: #d98a5e;
            font-weight: 700;
        }
    }
    .listFooter {
        display: flex;
        flex-wrap: wrap;
        .listItemFooter {
            margin-right: 140px;
        }
    }
    .listItemFooter {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .listSubItemFooter {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.3rem;
        margin: 8px 0;
        font-weight: 400;
        transition: all linear 0.2s;
        cursor: pointer;
        &:hover {
            color: #d98a5e;
        }
    }
}
