@import 'normalize.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --primary-font-family: 'Open Sans', sans-serif;
    --hover-color: #d98a5e;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-optical-sizing: auto;
    background-color: #111827;
    color: rgba(255, 255, 255, 0.5);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    width: 150px;
    height: 32px;
}
a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.slider-container {
    .slick-slider {
        margin-bottom: 28px;
    }
    .item {
        outline: none;
    }
    .slick-next {
        top: 10px;
        right: 15px;
    }
    .slick-prev {
        top: 10px;
        right: 30px;
        left: unset;
    }
    .slick-slider {
        position: unset;
    }
    .slick-prev:before {
        content: '\f0d9';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        color: #888c93;
    }
    .slick-next:before {
        content: '\f0da';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        color: #888c93;
    }

    .slick-arrow:hover.slick-prev:before,
    .slick-arrow:hover.slick-next:before {
        color: #d98a5e;
    }
    .slick-dots li button:before {
        color: #888c93;
        font-size: 0.8rem;
    }
    .slick-dots li.slick-active button:before {
        color: #fff;
    }
}
